.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.tracks {
  display: flex;
  flex-wrap: wrap;
}
.tracks .track {
  width: 20%;
}
.tracks .track img {
  width: 100%;
}
